<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Procesos.PS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <connectionStrings>
    
  <add name="SQLTransArchivos" providerName="system.data" connectionString="data source=SDATCHE009F;Initial Catalog=TransferenciaArchivos;pooling=false; User ID=usr_transfer;Password=Tr4nsfer*" />

  </connectionStrings>
  <applicationSettings>
      
  <Procesos.PS.Properties.Settings>
    <setting name="Procesos_PS_MoverArchivosFTP_moverArchivosFTP"
      serializeAs="String">
      <value>http://sbogche016v/AdministracionFtp/Servicios/moverArchivosFTP.svc</value>
    </setting>
    <setting name="Procesos_PS_ServicioRecaudo_Recaudo" serializeAs="String">
      <value>http://sbogche016v/Bancos/Servicios/Recaudo.svc</value>
    </setting>
    <setting name="Procesos_PS_wsenviocorreos_Service" serializeAs="String">
      <value>http://wsenviocorreos.chevyplan.col/service.asmx</value>
    </setting>
    <setting name="Procesos_PS_ServicioAsoBancaria_AsoBancaria" serializeAs="String">
      <value>http://172.16.20.40:100/Bancos/Servicios/AsoBancaria.svc</value>
    </setting>
    <setting name="Procesos_PS_ServicioPagosOnline_PagosOnline" serializeAs="String">
      <value>http://sbogche010f/Bancos/Servicios/PagosOnline.svc</value>
    </setting>
    <setting name="Procesos_PS_ServicioMoverArchivosFTP_moverArchivosFTP"
      serializeAs="String">
      <value>http://sbogche048v/Administracionftp/Servicios/moverArchivosFTP.svc</value>
    </setting>
    <setting name="Procesos_PS_ServicioTarjetaCredito_TarjetasCredito"
      serializeAs="String">
      <value>http://localhost:8092/Servicios/TarjetasCredito.svc</value>
    </setting>
    <setting name="Procesos_PS_ServicioBancos_WsBancos" serializeAs="String">
      <value>http://localhost:9084/WsBancos.svc</value>
    </setting>
  </Procesos.PS.Properties.Settings>
    </applicationSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="" culture="es-CO" uiCulture="es-CO" enableClientBasedCulture="false" responseHeaderEncoding="utf-8" resourceProviderFactoryType="" enableBestFitResponseEncoding="false"/>
  </system.web>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
