<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<!-- <add name="SQLBancos" providerName="System.Data" connectionString="Data Source=Sdatche009f;Initial Catalog=Bancos;User ID=usr_bancos;Password=4srB4nc0s*$"/>
    <add name="SQLVentas" providerName="System.Data" connectionString="Data Source=Sdatche009v;Initial Catalog=Ventas;User ID=usr_ventas;Password=4srV3nt4.$"/>-->
		
		<add name="SQLBancos" providerName="System.Data" connectionString="Data Source=Sbogche037v;Initial Catalog=Bancos;User ID=usuario_chevy;Password=Colombia*"/>
		<add name="SQLVentas" providerName="System.Data" connectionString="Data Source=Sbogche037v;Initial Catalog=VentasPagos;User ID=usuario_chevy;Password=Colombia*"/>
		<!-- <add name="SICO" connectionString="Dsn=Sico"/>-->
		<add name="SICO" connectionString="Dsn=sico_pruebas_2_CCI"/> <!-- Sico_informes -->
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
		<add key="CorreoFrom" value="cristian.munoz@chevyplan.com.co"/>
		<add key="CorreoTo" value="steven.aguilar@chevyplan.com.co"/>
		<add key="CorreoCC" value="cristian.munoz@chevyplan.com.co"/>
		<!--<add key="CorreoTo" value="pagos@chevyplan.com.co"/>-->
		<!--<add key="CorreoCC" value="infraestructuratecnologica@chevyplan.com.co;notificacion.desarrollo@chevyplan.com.co"/>-->
		<!--<add key="server" value="172.16.30.5"/>-->
		<add key="RutaFTP" value="ftp://172.16.30.20/"/>
		<add key="UserFTP" value="chevyplan\usaftp"/>
		<add key="PassFTP" value="Chevy789"/>
		<!--<add key="Repositorio" value="\\sbogche020v\ARCHPLANOS\Pagos\"/>-->
		<add key="Repositorio" value="\\sbogche016v\ARCHPLANOS\Pagos\"/>
		<!--Comandos Linux a la 30.5-->
		<add key="server" value="172.16.30.20"/>
		<!-- <add key="server" value="172.16.30.5"/>-->
		<add key="user" value="userbackend"/>
		<!-- <add key="password" value="prueba123"/>-->
		<add key="password" value="chevy123"/>
		<add key="comando" value="/bin/sh /usr2/sico_crm/backend/run_util.sh "/>
		<!-- <add key="comando" value="/bin/sh /usr2/sico/backend/run_util.sh "/>-->
		<add key="NombrePrograma" value="proappaauS"/>
		<add key="CodBanco" value=",59,69,"/>
		<!-- Path System-->
		<add key ="PathSystem" value="/export/home/SYSTEM/"/>
		<add key ="MegaPlanos" value="/usr2/sico/mega/planos/"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="" culture="es-CO" uiCulture="es-CO" enableClientBasedCulture="false" responseHeaderEncoding="utf-8" resourceProviderFactoryType="" enableBestFitResponseEncoding="false"/>
		<compilation targetFramework="4.5" debug="true"/>
		<httpRuntime targetFramework="4.5"/>
		<sessionState mode="InProc" cookieless="false" timeout="20" />
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>